body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}

.main {
  border-radius: 10px;
  border: 2px solid black;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  box-shadow: 10px 10px;
}

.blog-image img {
  border-radius: 15px;
  width: 100%;
}
.blog-image {
  width: 100%;
}

button {
  background-color: hsl(47, 88%, 63%);
  border: 0px;
  font-weight: 900;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  border-radius: 7px;
}

h1 {
  margin: 0px;
}

.paragraph p {
  color: hsl(0, 0%, 50%);
  font-size: 20px;
}

.profile-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  font-weight: bolder;
  align-items: start;
  font-size: 20px;
  padding-right: 10px;
  gap: 10px;
  padding-bottom: 20px;
}
